<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:fragment="css">
        <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
        <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"/>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"/>
    </div>
</head>
<body>
<nav class="navbar navbar-default navbar-static-top navbar-inverse" th:fragment="header">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Topscores</a>
        </div>
        <ul class="nav navbar-nav">
            <li th:classappend="${#httpServletRequest.getRequestURI() == '/' ? 'active':''}">
                <a href="/"><span class="glyphicon glyphicon-home"></span> <span th:text="${account}"></span></a>
            </li>
            <li th:if="${tournament != null}" class="active">
                <a th:href="@{'/web/status/' + ${tournament} + '/elo'}">
                    <span class="glyphicon glyphicon-th-list"></span>
                    <span th:text="${tournament}"></span>
                </a>
            </li>
            <li class="dropdown" th:if="${tournament == null}">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Select tournament <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li th:each="tournament : ${tournaments}" th:classappend="${#httpServletRequest.getRequestURI() == '/web/status/' + tournament + '/elo' ? 'active':''}">
                        <a th:href="@{'/web/status/' + ${tournament} + '/elo'}">
                            <span class="glyphicon glyphicon-th-list"></span>
                            <span th:text="${tournament}"></span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a th:href="@{'/web/create'}" th:classappend="${#httpServletRequest.getRequestURI() == '/web/create' ? 'active':''}">
                    <span class="glyphicon glyphicon-plus"></span>
                    <span>Create</span>
                </a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="navbar-right">
                <a href="/swagger-ui.html"><span class="glyphicon glyphicon-book"></span> API Documentation</a>
            </li>
        </ul>
        <div class="navbar-btn navbar-right">
            <a th:href="@{https://slack.com/oauth/authorize(client_id=${slack_client_id}, scope='commands,bot,users:read', team=${account})}">
                <img alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png"
                     srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x"/>
            </a>
        </div>
    </div>
</nav>
</body>
</html>