<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Topscores</title>
  <div th:replace="fragments/layout :: css"/>
</head>
<body>

<div th:replace="fragments/layout :: header"/>

<div class="container">
  <div class="alert alert-info text-center" role="alert">
    Find below the most recent games. Click on the tournament to see the ranked players.
  </div>
  <hr />
  <div class="col-xs-12 col-sm-12 col-md-12" th:each="game : ${games}">
    <h5>
      <a th:href="@{'/web/status/' + ${game.tournament} + '/elo'}">
        <span class="glyphicon glyphicon-triangle-right"></span>
        <span class="text-uppercase" th:text="${game.tournament + ' // ' + #dates.format(game.timestamp, 'dd-MMM-yyyy HH:mm')}"></span>
      </a>
    </h5>
    <div class="col-xs-6 col-sm-6 col-md-6" th:each="party : ${game.parties}">
      <div class="panel panel-default">
        <div class="panel-heading">
          <b th:text="${party.team.name + ' - ' + party.score}"></b>
        </div>
        <div class="panel-body">
          <ul>
            <li th:each="member : ${party.members}">
              <span th:text="${member.name}"></span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div th:replace="fragments/layout :: footer"/>

</body>
</html>
