<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Topscores</title>
  <div th:replace="fragments/layout :: css"/>
</head>
<body>

<div th:replace="fragments/layout :: header"/>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png" />
    </a>
    <h1>Welcome to topscores</h1>
  </div>
</div>
<div class="container">
  <div id="like_button_container"></div>
  <div class="alert alert-info text-center" role="alert">
    Find below the most recent games. Click on the tournament to see the ranked players.
  </div>
  <hr />
  <div class="row" th:each="game : ${games}">
    <div class="col-md-12">
      <h5>
        <a th:href="@{'/web/' + ${game.tournament} + '/elo'}">
          <span class="glyphicon glyphicon-triangle-right"></span>
          <span class="text-uppercase" th:text="${game.tournament + ' // ' + #dates.format(game.timestamp, 'dd-MMM-yyyy HH:mm')}"></span>
        </a>
      </h5>
    </div>
    <div class="col-md-3" th:each="party : ${game.parties}">
      <div class="panel panel-default">
        <div class="panel-heading">
          <b th:text="${party.team.name + ' - ' + party.score}"></b>
        </div>
        <div class="panel-body">
          <ul>
            <li th:each="member : ${party.members}">
              <span th:text="${member.name}"></span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div> <!-- row -->
</div>

<div th:replace="fragments/layout :: footer"/>

<!-- Load React. -->
<!-- Note: when deploying, replace "development.js" with "production.min.js". -->
<script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin="anonymous"></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin="anonymous"></script>

<!-- Load our React component. -->
<script src="/js/like_button.js"></script>

</body>
</html>
