<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Topscores</title>
  <div th:replace="fragments/layout :: css"/>
</head>
<body>

<div th:replace="fragments/layout :: header"/>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png" />
    </a>
    <h1>Welcome to topscores</h1>
  </div>
</div>
<div class="container">
  <div id="react"></div>
</div>

<div th:replace="fragments/layout :: footer"/>


<script src="/built/bundle.js"></script>

</body>
</html>
