<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Topscores</title>
  <div th:replace="fragments/layout :: css"/>
</head>
<body>

<div th:replace="fragments/layout :: header"/>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png" />
    </a>
    <h1>Welcome to topscores</h1>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    Ranking is using an ELO with starting value of 1200 and k with value 30.
  </div>
  <hr />
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <b>Ranking</b>
        </div>
        <div class="panel-body">
          <ol>
            <li th:each="score : ${status.scores}">
              <span th:text="${score.member + ': ' + score.score}"></span>
            </li>
          </ol>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3" th:each="stats : ${status.metrics}">
      <div class="panel panel-default">
        <div class="panel-heading">
          <b th:text="${stats.member}"></b>
        </div>
        <div class="panel-body">
          <ul>
            <li th:each="metric : ${stats.metrics}">
              <span th:text="${metric.name + ': ' + metric.value}"></span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div> <!-- row -->
</div>

<div th:replace="fragments/layout :: footer"/>

</body>
</html>
