<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Topscores</title>
  <div th:replace="fragments/layout :: css"/>
</head>
<body>

<div th:replace="fragments/layout :: header"/>

<div class="container">
  <div class="alert alert-info text-center" role="alert">
    Ranking is using an ELO with starting value of 1200 and k with value 30.
  </div>
  <hr />
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <b>Ranking</b>
        </div>
        <div class="panel-body">
          <ol>
            <li th:each="score : ${status.scores}">
              <a th:href="@{'/web/status/' + ${tournament} + '/player/' + ${score.member} + '/elo'}">
                <span th:text="${score.member + ': ' + score.score}"></span>
              </a>
            </li>
          </ol>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-9">
      <div class="panel panel-default">
        <div class="panel-heading">
          <b>Metrics</b>
        </div>
        <div class="panel-body">
          <table class="table">
            <thead>
            <tr>
              <th>Player</th>
              <th th:each="available : ${status.availableMetrics}">
                <span th:text="${available}"></span>
              </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="memberMetrics : ${status.metrics}">
              <td>
                <span th:text="${memberMetrics.member}"></span>
              </td>
              <td th:each="available : ${status.availableMetrics}">
                <span th:text="${memberMetrics.metrics.getOrDefault(available, 0)}"></span>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div> <!-- row -->
</div>

<div th:replace="fragments/layout :: footer"/>

</body>
</html>
